/* You can add global styles to this file, and also import other style files */
body {
  background-image: url("/assets/background2.png");
  background-size: cover;
  background-position: center;
  width: auto;
  height: auto;
  top: 0;
  left: 0;
  z-index: -1;
  padding: 20px;

}
