<h1>Movie Search</h1>

<div>
  <input type="text" #searchQuery class="form-control mb-2" placeholder="Search for movies...">
  <button (click)="performSearch(searchQuery.value)" class="btn btn-primary">Search</button>
</div>

<div *ngIf="results.length > 0" class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Title</th>
        <th>Year</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movie of results">
        <td>{{ movie.Title }}</td>
        <td>{{ movie.Year }}</td>
        <td>{{ movie.Type }}</td>
      </tr>
    </tbody>
  </table>
</div>
