<div class="favorites-container container">
  <!-- Form for filtering -->
  <form [formGroup]="filterForm">
    <div class="filter-container">
      <select formControlName="sortType">
        <option value="">Default Sort</option>
        <option value="title">Sort by Title</option>
        <option value="year">Sort by Year</option>
        <option value="type">Sort by type</option>
      </select>
    </div>
  </form>

  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let favorite of filteredFavorites">
      <div class="card custom-card">
        <img
          [src]="favorite.Poster"
          class="card-img-top custom-card-img"
          alt="Favorite Image"
        />
        <div class="card-body">
          <h5 class="card-title">{{ favorite.Title }}</h5>
          <p class="card-text">{{ favorite.Year }}</p>
          <p class="card-text">{{ favorite.Type }}</p>
          <button
            (click)="removeFromFavorites(favorite)"
            class="btn btn-danger"
          >
            Remove from Favorites
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
