.custom-card {
  max-width: 300px;
  min-height: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.custom-card-img {
  max-height: 250px;
  object-fit: cover;
  width: 100%;
}

.card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card-title, .card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; 
}
