<div class="favorites-container container">
  <!-- Form for filtering -->
  <form [formGroup]="filterForm" class="sort-form my-3">
    <div class="row justify-content-center">
      <!-- Year Filter -->
      <div class="col-md-4">
        <input
          type="text"
          formControlName="yearFilter"
          class="form-control mt-3"
          placeholder="Filter by Year"
        />
      </div>
      <!-- Type Filter -->
      <div class="col-md-4">
        <input
          type="text"
          formControlName="typeFilter"
          class="form-control mt-3"
          placeholder="Filter by Type"
        />
      </div>
      <!-- Name Filter -->
      <div class="col-md-4">
        <input
          type="text"
          formControlName="nameFilter"
          class="form-control mt-3"
          placeholder="Filter by Name"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-md-auto mt-3">
        <button class="btn btn-secondary" (click)="goBack()">
          <i class="fa-solid fa-arrow-left"></i> Go back
        </button>
      </div>
    </div>
  </form>

  <!-- Movie Cards -->
  <div class="row">
    <div
      class="col-lg-4 col-md-6 mb-4"
      *ngFor="let favorite of filteredFavorites; let i = index"
    >
      <div class="card custom-card animate__animated animate__fadeInUp">
        <img
          [src]="favorite.Poster"
          class="card-img-top custom-card-img"
          alt="Favorite Image"
        />
        <div class="card-body">
          <h5 class="card-title">{{ favorite.Title }}</h5>
          <p class="card-text">Year: {{ favorite.Year }}</p>
          <p class="card-text">Type: {{ favorite.Type }}</p>
          <p class="card-text">Comment: {{ favorite.comment }}</p>

          <!-- Comment Form -->
          <form [formGroup]="commentForms[i]" class="comment-form my-2">
            <textarea
              class="form-control"
              formControlName="comment"
              placeholder="Add a comment"
            ></textarea>
            <button class="btn btn-secondary mt-2" (click)="saveComment(i)">
              <i class="fa-solid fa-floppy-disk"></i> Save Comment
            </button>
          </form>
          <!-- Remove Button -->
          <button
            (click)="removeFromFavorites(favorite)"
            class="btn btn-danger mt-2"
          >
            <i class="fa-solid fa-trash-can"></i> Remove from Favorites
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- message when no movie found -->
  <div
    *ngIf="filteredFavorites.length === 0"
    class="alert alert-warning text-center"
  >
    Movie not found.
  </div>
</div>
